<div class="p-new">
  <h1 class="p-new__title">Post</h1>
  <%= form_with model: @post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="p-new__item">
      <%= f.label :user_name, "ニックネーム", class: "p-new__item-label" %>
      <%= f.text_field :user_name, class: "p-new__item-input" %>
    </div>
    <div class="p-new__item">
      <%= f.label :body, "投稿内容", class: "p-new__item-label" %>
      <%= f.text_area :body, size: "x5", class: "p-new__item-input" %>
    </div>
    <div class="p-new__submit-btn">
    <%= f.submit "投稿する", class: "p-new__submit-btn-input" %>
    </div>
  <% end %>
</div>